<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Events</h4>
                        <button id="create" class="btn btn-success" (click)="createEvent()">Create Event</button>
                        <br />
                        <br />
                        <br />
                        <div class = "form-inline">
                            <input 
                            id = "searchbar"
                            type = "text"
                            class = "form-control mr-1"
                            placeholder="Search by event name"
                            [(ngModel)] = "eventName"
                            />
                            <button type="button" class="btn btn-light" id="searchbtn" (click)="searchEvent()">Search</button>
                        </div>      
                    </div>
                
                        
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of events;">
                                        <td><a href="/#/events/{{ event.eventID }}">{{event.eventName}}</a></td>
                                        <td>{{event.eventDate}}</td>
                                        
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>